ORIGIN=http://localhost:3000

LIVE_BACKEND_ADDRESS=0.0.0.0:4000
API_BACKEND_ADDRESS=0.0.0.0:4001

RUST_LOG=api=debug,live=debug

NEXT_PUBLIC_LIVE_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4001
