services:
  live:
    image: ghcr.io/slowlydev/f1-dash-live:latest
    build:
      context: .
      target: live
    restart: always
    ports:
      - 4000:4000
    environment:
      - ORIGIN=${ORIGIN}
      - LIVE_BACKEND_ADDRESS=${LIVE_BACKEND_ADDRESS}
      - RUST_BACKTRACE=${RUST_BACKTRACE}
      - RUST_LOG=${RUST_LOG}

  api:
    image: ghcr.io/slowlydev/f1-dash-api:latest
    build:
      context: .
      target: api
    restart: always
    ports:
      - 4001:4001
    environment:
      - ORIGIN=${ORIGIN}
      - API_BACKEND_ADDRESS=${API_BACKEND_ADDRESS}
      - RUST_LOG=${RUST_LOG}
      - RUST_BACKTRACE=${RUST_BACKTRACE}

  frontend:
    image: ghcr.io/slowlydev/f1-dash:latest
    build:
      context: ./dash/
      args:
        - LIVE_SOCKET_URL=${NEXT_PUBLIC_LIVE_SOCKET_URL}
        - API_URL=${NEXT_PUBLIC_API_URL}
    restart: always
    ports:
      - 3000:3000
    depends_on:
      - api
      - live
    environment:
      - NEXT_PUBLIC_LIVE_SOCKET_URL=${NEXT_PUBLIC_LIVE_SOCKET_URL}
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
