# ==============================================================================
# F1-DASH DASHBOARD ENVIRONMENT VARIABLES
# ==============================================================================
# INSTRUCTIONS: Copy or rename this file to `.env` or `.env.local`
# in this directory before starting the dashboard in development mode.
# ==============================================================================

# --- runtime envs ---

# URL of the Realtime service (SSE / Websockets server) to which the client browser will connect
NEXT_PUBLIC_LIVE_URL=http://localhost:4000

# URL of the REST API to query static information, schedules, etc.
# - If you run the API locally using Cargo/Rust: http://localhost:4001
# - If you run the API using Docker Compose by default: http://localhost:4010
API_URL=http://localhost:4001

# Disable iframe (optional)
# DISABLE_IFRAME=0

# rybbit tracking script and id (optional for analytics)
# TRACKING_ID=
# TRACKING_URL=

# --- build envs ---

# SKIP_ENV_VALIDATION=1		# Skip environment variable validation during build (useful for Docker)
# NEXT_STANDALONE=1 			# Enable Next.js standalone build (useful for Docker)
# NEXT_NO_COMPRESS=1 			# Disable Next.js compression (if using a reverse proxy)
