@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@theme {
	--breakpoint-3xl: 1800px;

	--color-popover: rgba(37, 37, 37, 0.9);
	--color-pane: oklch(18% 0.005 285.82);
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

.pulse-loading-spinner {
	animation: pulse-loading 1.2s cubic-bezier(0.52, 0.6, 0.25, 0.99) infinite;
}

@keyframes pulse-loading {
	0% {
		r: 0;
		opacity: 1;
	}
	100% {
		r: 11px;
		opacity: 0;
	}
}
