PORT=4000
NAME=f1-data

F1_BASE_URL=livetiming.formula1.com
GLOBAL_PREFIX=/api

CACHE_TTL=4
CACHE_LIMIT=64

THROTTLE_TTL=60
THROTTLE_LIMIT=240

DATABASE_PATH=./f1-data.sqlite
DATABASE_MODE=readwrite

LOG_LEVEL=info
LOG_REQUESTS=true
LOG_RESPONSES=true
