PORT=4000

# F1_BASE_URL=ws://localhost:8000 # testing
F1_BASE_URL=wss://livetiming.formula1.com/signalr
# F1_BASE_URL=http://localhost:8000 # testing
F1_NEGOTIATE_URL=https://livetiming.formula1.com/signalr
